pipeline/pl_1.json
{
	"name": "pl_1",
	"properties": {
		"description": "learning azure",
		"activities": [
			{
				"name": "act_set_var_name",
				"description": "define variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "name",
					"value": {
						"value": "@variables('last_name')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_set_var_last_nm",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_set_var_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_nm",
					"value": {
						"value": "@variables('last_name')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"name": {
				"type": "String"
			},
			"last_name": {
				"type": "String",
				"defaultValue": "jadhav"
			},
			"last_nm": {
				"type": "String"
			}
		},
		"folder": {
			"name": "session_1st"
		},
		"annotations": []
	}
}