pipeline/Pl_assingment.json
{
	"name": "Pl_assingment",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.name_val",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_set_append1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "id",
								"value": {
									"value": "@item()['id']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_set_append2",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "name",
								"value": {
									"value": "@item()['name']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_set_append",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "city",
								"value": {
									"value": "@item()['city']",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "act_set_var-id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "id_list",
					"value": {
						"value": "@variables('id')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_set_var_city",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "city_list",
					"value": {
						"value": "@variables('city')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_set_var_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "name_list",
					"value": {
						"value": "@variables('name')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"name_val": {
				"type": "array",
				"defaultValue": [
					{
						"id": "1",
						"name": "Ram Patil",
						"city": "pune"
					},
					{
						"id": "2",
						"name": "Rani jadhav",
						"city": "Loha"
					}
				]
			}
		},
		"variables": {
			"id": {
				"type": "Array"
			},
			"name": {
				"type": "Array"
			},
			"city": {
				"type": "Array"
			},
			"id_list": {
				"type": "Array"
			},
			"name_list": {
				"type": "Array"
			},
			"city_list": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "session_3rd"
		},
		"annotations": []
	}
}