pipeline/pl_foreach.json
{
	"name": "pl_foreach",
	"properties": {
		"activities": [
			{
				"name": "act_value_foreach",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.val_lst",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_set_var",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "each_val",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_set_var_append",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "name_lst",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "act_set_var_outerlist",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_value_foreach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "outer_list",
					"value": {
						"value": "@variables('name_lst')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"val_lst": {
				"type": "array",
				"defaultValue": [
					"Ram",
					"Sham",
					"Kiran"
				]
			}
		},
		"variables": {
			"each_val": {
				"type": "String"
			},
			"name_lst": {
				"type": "Array"
			},
			"outer_list": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "session_2nd"
		},
		"annotations": []
	}
}